*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: #000000;
}

#mainDiv{
    background-color: cyan;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, #120038 20%, #2a35b0 80%);
}

.text-center{
    text-align: center;
}

.width-100{
    width: 100vw;
}

.heigth-100{
    height: 100vh;
}

.text-underline{
    text-decoration: line-through;
}
